  
# The default owners for everything in the repo.
# Unless a later match takes precedence, @massmutual/squark-maintainers will
# be requested for review when someone opens a pull request.
*  @massmutual/squark-maintainers

# Python files
*.py @Andrew-Sheridan

# SFMC
*sfmc* @rharnal44
