# The default owners for everything in the repo.
# Unless a later match takes precedence, @Andrew-Sheridan will
# be requested for review when someone opens a pull request.
*  @Andrew-Sheridan

# SFMC
*sfmc* @rharnal44

*terdadata_prod_stnd_vw* @swei45
