.squark-password
.vault
vault-password-file
derby.log
metastore_db/
*.py[cod]
.cache/
etc/
.jars
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
__pycache__/*

# Translations
*.mo

.python_history

.python_history
htmlcov/*

.idea/*